# Dependências locais
node_modules

# Build local
.next
coverage
dist

# Logs
*.log

# Git
.git
.gitignore

# Arquivos desnecessários
README.md
Dockerfile
.dockerignore

# Ambiente local
.env
.env.local
.env.*.local