name: Release (auto tag)

on:
  workflow_dispatch:
    inputs:
      bump:
        description: 'Tipo de incremento (major, minor, patch)'
        required: true
        default: 'patch'
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Config git
        run: |
          git config user.name "github-actions"
          git config user.email "github-actions@github.com"

      - name: Get latest tag
        id: get_tag
        run: |
          TAG=$(git describe --tags `git rev-list --tags --max-count=1` || echo "v0.0.0")
          echo "Última tag: $TAG"
          echo "tag=$TAG" >> $GITHUB_OUTPUT

      - name: Bump version
        id: bump
        run: |
          bump="${{ github.event.inputs.bump }}"
          old_tag=${{ steps.get_tag.outputs.tag }}

          # remove "v" prefix
          version="${old_tag#v}"

          IFS='.' read -r major minor patch <<< "$version"

          case $bump in
            major)
              major=$((major+1))
              minor=0
              patch=0
              ;;
            minor)
              minor=$((minor+1))
              patch=0
              ;;
            patch)
              patch=$((patch+1))
              ;;
          esac

          new_tag="v$major.$minor.$patch"
          echo "Nova tag: $new_tag"
          echo "new_tag=$new_tag" >> $GITHUB_OUTPUT

      - name: Update package.json version
        run: |
          NEW_VERSION=${{ steps.bump.outputs.new_tag }}
          NEW_VERSION=${NEW_VERSION#v} # remove o 'v' da frente
          echo "Atualizando versão para $NEW_VERSION" # atualiza o campo 'version' no package.json
          jq --arg v "$NEW_VERSION" '.version = $v' package.json > tmp.json && mv tmp.json package.json

          git add package.json
          git commit -m "chore: bump version to $NEW_VERSION"
          git push origin HEAD:${{ github.ref_name }}

      - name: Create and push tag
        run: |
          git tag ${{ steps.bump.outputs.new_tag }}
          git push origin ${{ steps.bump.outputs.new_tag }}
